{% extends 'layout.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date Played</th>
            <th>Username</th>
            <th>Score</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for highscore in highscores %}
        <tr>
            <td>{{ highscore.DatePlayed }}</td>
            <td>{{ highscore.Username }}</td>
            <td>{{ highscore.Score }}</td>
            <td>{{ highscore.Time }} seconds</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
